
.countries {
    list-style: none;
    display: flex;
    gap: 20px;
}

.countries--first {
    flex-direction: row-reverse;
}
.countries--second {
    flex-direction: column;
}

.countries--third {
    flex-direction: column-reverse;
}
